<p-contextMenu #cm [model]="menuItems"></p-contextMenu>
<div class="card">
    <button pButton type="button" label="Crear nuevo" (click)="crearNuevo()" class="p-button-text"></button>
    <p-table [(contextMenuSelection)]="projectSelDetail" [contextMenu]="cm" dataKey="_id" [value]="arrayProjects" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th scope="">Icono</th>
                <th scope="">Nombre</th>
                <th scope="">Descripción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr [pContextMenuRow]="project">
                <td><i class="{{project.icon}}"></i></td>
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
